*{
  margin: 0;
  padding: 0;
}

body {

}

main {
  display: grid;
  grid-template: 15% repeat(10, 1fr) 15% / 15% repeat(10, 1fr) 15%;
}

.tileStyle {
  height: 100%;
  width: 100%;
  border: 1px solid black;
}
